http://jsfiddle.net/ichiro1234/yL0pnmkh/279/
body#faq_page{
   	width: 100%;
	float: left;
	height: auto;
	min-height: 600px;
	background-image: url('https://psf-dev.artplant-dev.net/static/media/landing-bg-roadmap@1x.4a60427c.jpg');
	background-size: cover;
	color: #fff;
        font-family: proxima-nova, sans-serif;
}
header#headline-wrapper{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
}
.fa {
    color: white;
}
a {
    color: #fff;
}
a.category_preview_view_more{
    color:#fff;
}
a:focus, a:hover {
    color:#fff;
}
a.category_preview_view_more{
    color:#fff;
}
const endpoint = 'https://min-api.cryptocompare.com/data/histoday?aggregate=1&e=CCCAGG&extraParams=CryptoCompare&fsym='+ ticker.toUpperCase() +'&limit=365&tryConversion=false&tsym=' + currency.toUpperCase();